{% extends '/base.html.twig' %}
{% block title %}
    {% if worker.id == 0 %}
        Ajouter un salarié
    {% else %}
        Modifier un salarié
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">
                    {% if worker.id %}
                        Modifier les données de {{ worker.lastName |capitalize }}  {{ worker.firstName |capitalize }}
                    {% else %}
                        Ajouter un salarié
                    {% endif %}
                </h2>
                <form {% if worker.id %}action="{{ path('edit', {id: worker.id}) }}"{% else %}action="{{ path('edit', {id: 0}) }}"{% endif %} method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" value="{{ worker.id }}">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <label for="last_name" >Nom</label>
                                    <input type="text" id="last_name" name="last_name"  class="form-control mb-2"
                                           {% if worker.id == null %}placeholder="Saisir le nom"{% else %}value="{{ worker.lastName | capitalize }}"{% endif %}
                                           required >

                                <label for="first_name" >Prénom</label>
                                    <input type="text" id="first_name" name="first_name"  class="form-control mb-2"
                                           {% if worker.id == null %}placeholder="Saisir le prénom"{% else %}value="{{ worker.firstName | capitalize}}"{% endif %}
                                           required >

                                <label for="email" >Email</label>
                                    <input type="email" id="email" name="email"  class="form-control mb-2"
                                           {% if worker.id == null %}placeholder="Saisir l'adresse électronique"{% else %}value="{{ worker.email }}"{% endif %}
                                           required >

                                <label for="phone" >Téléphone</label>
                                    <input type="tel" id="phone" name="phone" class="form-control mb-2" pattern="[0-9]{10}"
                                           {% if worker.id == null %}placeholder="Saisir le numéro de téléphone"{% else %}value="{{ worker.phone }}"{% endif %}
                                           required>
                            </div>
                            <div class="col-md-6">
                                <label for="birthday" >Date d'anniversaire</label>
                                    <input type="date" id="birthday" name="birthday"  class="form-control mb-2"
                                           {% if worker.id == null %}placeholder="Selectionner le date d'anniversaire"{% else %}value="{{ worker.birthday |date("Y-m-d") }}"{% endif %}
                                           required >

                                <label for="department" >Service</label>
                                <select id="department" name="department"  class="form-control mb-2" value="{{ worker.department }}">
                                    <option value="atelier" {% if worker.department == "atelier" %}selected{% endif %}>atelier</option>
                                    <option value="comptabilité" {% if worker.department == "comptabilité" %}selected{% endif %}>comptabilité</option>
                                    <option value="direction" {% if worker.department == "direction" %}selected{% endif %}>direction</option>
                                    <option value="magasin" {% if worker.department == "magasin" %}selected{% endif %}>magasin</option>
                                </select>

                                <label for="function" >Fonction</label>
                                <select id="function" name="function"  class="form-control mb-2" value="{{ worker.function }}">
                                    <option value="ouvrier de production" {% if worker.function == "ouvrier de production" %}selected{% endif %}>ouvrier de production</option>
                                    <option value="ouvrier polyvalent" {% if worker.function == "ouvrier polyvalent" %}selected{% endif %}>ouvrier polyvalent</option>
                                    <option value="chef d'équipe" {% if worker.function == "chef d'équipe" %}selected{% endif %}>chef d'équipe</option>
                                    <option value="magasinier" {% if worker.function == "magasinier" %}selected{% endif %}>magasinier</option>
                                    <option value="comptable" {% if worker.function == "comptable" %}selected{% endif %}>comptable</option>
                                    <option value="ressources humaine" {% if worker.function == "ressources humaine" %}selected{% endif %}>ressources humaine</option>
                                    <option value="directeur" {% if worker.function == "directeur" %}selected{% endif %}>directeur</option>
                                </select>

                                <label for="take_on_at">Date d'embauche</label>
                                    <input type="date" id="take_on_at" name="take_on_at"  class="form-control "
                                           {% if worker.id == null %}placeholder="Selectionner le date d'embauche"{% else %}value="{{ worker.takeOnAt |date("Y-m-d") }}"{% endif %}
                                           required >
                            </div>
                        </div>

                        <a class="btn btn-sm btn-light" href="{{ path('worker') }}">
                            <i class="fabut fas fa-arrow-left"></i>
                            Retour à la gestion des salariés
                        </a>
                        {% if worker.id != null %}
                            <a class="btn btn-sm btn-light mr-4 btn-brown-outline" href="{{ path('dismiss',{id: worker.id}) }}">
                                <i class="fabut fas fa-user-minus"></i>
                                Notifier la fin de contrat
                            </a>
                        {% endif %}
                        <button type="submit" id="addworker" class="btn btn-sm btn-brown-reverse-outline float-right" >
                            {% if worker.id == null %}
                                <i class="fabut fas fa-user-plus"></i>
                                Ajouter le salarié
                            {% else %}
                                <i class="fabut fas fa-edit"></i>
                                Modifier les données du salarié
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
