{% extends '/base.html.twig' %}

{% block title %}Salariés{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <div class="mb-4">
                    <h2 style="display: inline-block;" >Gestion des salariés</h2>
                    <form class="form-inline float-right" style="display: inline-block;" action="{{ path('workerSearch') }}" method="post">
                        <div class="input-group">
                            <input class="form-control" type="query" name="query" placeholder="Rechercher">
                            <button class="btn btn-brown-outline my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>

                {% if searchtext %}
                  <h3 style="display: inline-block;" class="mb-4" >Resultat de la recherche : {{ searchtext }}</h3>
                {% else %}
                  <h3 style="display: inline-block;" class="mb-4">Salariés en activité</h3>
                {% endif %}

                <a class="btn btn-sm btn-brown-reverse-outline float-right" href="{{ path('edit', {id: 0}) }}">
                    <i class="fabut fas fa-plus"></i>
                    Ajouter un salarié
                </a>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:10%">Nom</th>
                        <th style="width:10%">Prénom</th>
                        <th style="width:10%">Email</th>
                        <th style="width:10%">Téléphone</th>
                        <th style="width:10%">Anniversaire</th>
                        <th style="width:20%">Service</th>
                        <th style="width:15%">Fonction</th>
                        <th style="width:15%">Actions</th>
                    </tr>
                    </thead>
                    <tboby>
                        {% for worker in workers %}
                            <tr>
                                <td>{{ worker.lastName |capitalize }}</td>
                                <td>{{ worker.firstName |capitalize }}</td>
                                <td>{{ worker.email }}</td>
                                <td>{{ worker.phone }}</td>
                                <td>{{ worker.birthday |date("d-m-Y") }}</td>
                                <td>{{ worker.department |capitalize }}</td>
                                <td>{{ worker.function |capitalize }}</td>
                                <td>
                                    <a class="btn btn-sm btn-brown-outline" href="{{ path('edit', {id: worker.id}) }}">
                                        <i class="fabut far fa-edit"></i>
                                        Modifier
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                {% if workers == null %}
                  <p class="text-center font-weight-bold">
                    Aucuns salariés trouvés
                  </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
