{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="col-md-6 offset-md-3">
    <div class="box shadow-box">
        <div class="inbox">
            <div class="row">
                <div class="col-md-12 text-center mb-5 mt-3">
                    <img class="mb-3" src="/style/img/logo.png" alt="logo-cofee-time">
                    <h1>Cofee Time</h1>
                </div>
                <div class="col-md-10 offset-md-1">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h2 class="mb-3 font-weight-normal">Connexion</h2>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-sm btn-brown-reverse-outline mt-4 mb-3 float-right" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
