{% extends '/base.html.twig' %}

{% block title %}Attribuer une clef{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">Attribuer la clef : {{ key.reference }} </h2>
                <label for="worker">Quel salarié ?</label>
                <select id="worker" class="form-control mb-3">
                    <option value="0">Veuiller choisir un salarié</option>
                    {% for worker in workers %}
                        <option value="{{ worker.id }}">{{ worker.lastName |capitalize}} {{ worker.firstName |capitalize}}</option>
                    {% endfor %}
                </select>
                <div id="message" class="mb-5"></div>
                <a class="btn btn-sm btn-light" href="{{ path('key') }}">
                    <i class="fabut fas fa-arrow-left"></i>
                    Retour à la gestion des clefs
                </a>
                <a id="addAllocationBut" class="btn btn-sm btn-brown-reverse-outline float-right disabled" href="">
                    <i class="fabut fas fa-link"></i>
                    Attribuer
                </a>
            </div>
        </div>
    </div>

{% endblock %}
