{% extends '/base.html.twig' %}

{% block title %}Ajouter du solde{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">Ajouter du solde à la clef :  <u>{{ key.reference }}</u> du porteur : <u>{{ key.worker.firstName | capitalize }} {{ key.worker.lastName | capitalize}}</u></h2>
                <form action="{{ path('addbalance', {id: key.id, add: 1}) }}" method="post" >
                    <div class="form-group">
                        <label for="new_balance">quel est le nouveau solde ?</label>
                        <div class="input-group mb-5" >
                            <input type="number" id="balance" name="balance"  class="form-control" min="{{ key.balance }}" max="10000.00" step="0.01" value="{{ key.balance }}">
                            <div class="input-group-append">
                                <span class="input-group-text">€</span>
                            </div>
                        </div>
                        <div id="message" class="mb-5"></div>
                        <a class="btn btn-sm btn-light" href="{{ path('key') }}">
                            <i class="fabut fas fa-arrow-left"></i>
                            Retour à la gestion des clefs
                        </a>
                        <button type="submit" id="addBalanceButton" class="btn btn-sm btn-brown-reverse-outline float-right disabled" >
                            <i class="fabut fas fa-euro-sign"></i>
                            Modifier le solde
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
