{% extends '/base.html.twig' %}

{% block title %}Signaler un problème{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">signaler un problème sur la clef : {{ key.reference }}</h2>
                <label for="broken">Quel est le problème ?</label>
                <select id="broken" class="form-control mb-3">
                    <option value="0">Veuiller choisir un problème</option>
                    <option value="1">La clef est cassée</option>
                    <option value="2">La clef ne fonctionne plus</option>
                </select>
                <div id="message" class="mb-5"></div>
                <a class="btn btn-sm btn-light" href="{{ path('key') }}">
                    <i class="fabut fas fa-arrow-left"></i>
                    Retour à la gestion des clefs
                </a>
                <a  id="brokenBut" class="btn btn-sm btn-brown-reverse-outline float-right disabled" href="{{ path('brokenkey',{'id':key.id,"broken": 1}) }}" >
                    <i class="fabut fas fa-exclamation-circle"></i>
                    Signaler
                </a>
            </div>
        </div>
    </div>

{% endblock %}
