{% extends '/base.html.twig' %}

{% block title %}Clefs{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <div class="mb-4">
                    <h2 style="display: inline-block;" >Gestion des clefs</h2>
                    <form class="form-inline float-right" style="display: inline-block;"  action="{{ path('keySearch') }}" method="post">
                        <div class="input-group">
                            <input class="form-control" type="query" name="query" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-brown-outline my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                {% if notAllocatedKeys %}
                    <h3 class="mb-4">Clefs libres</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Réference</th>
                            <th style="width:15%">Actions</th>
                        </tr>
                        </thead>
                        <tboby>
                            {% for key in notAllocatedKeys %}
                            <tr>
                                <td>{{ key.reference }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-brown-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('addallocation',{'id':key.id,"worker":0}) }}">
                                                <i class="fabut fas fa-link"></i>
                                                Attribuer la clefs
                                            </a>
                                            <a class="dropdown-item" href="{{ path('brokenkey',{'id':key.id,"broken":0}) }}">
                                                <i class="fabut fas fa-exclamation-circle"></i>
                                                Signaler un problème
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tboby>
                    </table>

                    <hr>
                    <h3 class="mb-4">Clefs Attribuées</h3>
                {% else %}
                    {% if searchtext %}
                        <h3 class="mb-4" >Resultat de la recherche : {{ searchtext }}</h3>
                    {% else %}
                        <h3 class="mb-4">Liste des clefs</h3>
                    {% endif %}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:30%">Réference</th>
                        <th style="width:15%">Nom</th>
                        <th style="width:15%">Prénom</th>
                        <th style="width:10%">Solde</th>
                        <th style="width:15%">Attribuer le</th>
                        <th style="width:15%">Actions</th>
                    </tr>
                    </thead>
                    <tboby>
                        {% for key in keys %}
                            <tr>
                                <td>{{ key.reference }}</td>
                                <td>{{ key.worker.lastName |capitalize }}</td>
                                <td>{{ key.worker.firstName |capitalize }}</td>
                                <td class="text-right">{{ key.balance |number_format(2) }} €</td>
                                <td>{{ key.allocatedAt |date("d-m-Y") }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-brown-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('addbalance',{'id':key.id}) }}">
                                                <i class="fabut fas fa-euro-sign"></i>
                                                Ajouter du solde
                                            </a>
                                            <a class="dropdown-item" href="{{ path('removeallocation',{'id':key.id,"balance":key.balance |number_format(2, '.', ' ')}) }}">
                                                <i class="fabut fas fa-unlink"></i>
                                                Retirer la clefs
                                            </a>
                                            <a class="dropdown-item" href="{{ path('brokenkey',{'id':key.id,"broken":0}) }}">
                                                <i class="fabut fas fa-exclamation-circle"></i>
                                                Signaler un problème
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                {% if keys == null %}
                    <p class="text-center font-weight-bold">
                        Aucunes clefs trouvées
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
