{% extends '/base.html.twig' %}

{% block title %}Retirer la clefs{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">Retirer la clef : <u>{{ key.reference }}</u> du porteur : <u>{{ key.worker.firstName | capitalize }} {{ key.worker.lastName | capitalize}}</u></h2>
                <p class="mb-4 text-danger text-center">
                    <i class="fas fa-exclamation-triangle mr-3"></i>
                    Le solde de la clef sera remis à <strong>0.00 €</strong>
                    <i class="fas fa-exclamation-triangle ml-3"></i>
                    <br>
                    Il est actuellement de <strong>{{ key.balance |number_format(2, '.', ' ') }} € </strong>
                </p>
                <a class="btn btn-sm btn-light" href="{{ path('key') }}">
                    <i class="fabut fas fa-arrow-left"></i>
                    Retour à la gestion des clefs
                </a>
                <a class="btn btn-sm btn-brown-reverse-outline float-right" href="{{ path('removeallocation',{'id':key.id,"balance": 0.00}) }}">
                    <i class="fabut fas fa-unlink"></i>
                    Valider le retrait
                </a>
            </div>
        </div>
    </div>

{% endblock %}
