{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="box shadow-box">
        <div class="inbox">
            <h1>Créer un nouvel utilisateur</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name, {
                    label: 'Nom'
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Adresse électronique'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <a class="btn btn-sm btn-light" href="{{ path('user') }}">
                    <i class="fabut fas fa-arrow-left"></i>
                    Retour à la gestion des utilisateurs
                </a>
                <button type="submit" class="btn btn-sm btn-brown-reverse-outline float-right">
                    <i class="fabut fas fa-user-plus"></i>
                    Enregistrer
                </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
