<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/style/img/logo.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="{{ asset('/ext/bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
    <!-- my CSS -->
    <link rel="stylesheet" href="{{ asset('/style/css/style-global.css') }}">
    <title>Cofee Time - {% block title %}{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    {% include('baseComponnent/header.html.twig')%}
</header>
<div id="main">
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<footer>
    {% include('baseComponnent/footer.html.twig')%}
</footer>
<!-- jQuery -->
<script type="text/javascript" src="{{ asset('/ext/js/jquery-3.6.0.min.js') }}"></script>
<!-- popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!-- bootstrap 4 js -->
<script type="text/javascript" src="{{ asset('/ext/bootstrap-4.6.0-dist/js/bootstrap.min.js') }}"></script>
<!-- my JS -->
<script type="text/javascript" src="{{ asset('/js/script.js') }}"></script>
</body>
</html>
