{% extends '/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="box shadow-box">
            <div class="inbox">
                <h2>Dashboard</h2>
                <h3>Mes distributeurs</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Machine</th>
                        <th>Type</th>
                        <th>Réassort</th>
                        <th>Maintenance</th>
                        <th style="width:15%">Actions</th>
                    </tr>
                    </thead>
                    <tboby>
                        {% for device in devices %}
                            <tr>
                                <td>{{ device.reference }}</td>
                                <td>{{ device.type }}</td>
                                <td>{{ device.lastRestock |date("d-m-Y") }}</td>
                                <td>{{ device.lastMaintenance |date("d-m-Y") }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-brown-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('restock',{'id':device.id,'date':0}) }}">
                                                <i class="fabut fas fa-dolly"></i>
                                                Demande de réassort
                                            </a>
                                            <a class="dropdown-item" href="{{ path('maintenance',{'id':device.id}) }}">
                                                <i class="fabut fas fa-tools"></i>
                                                Signaler une panne
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box shadow-box scroll">
            <div class="inbox">
                <h2>Actions Cofee Time</h2>
                <h3>Prochains réassort</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Machine</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tboby>
                        {% for restock in restocks %}
                            <tr>
                                <td>{{ restock.reference }}</td>
                                <td>{{ restock.nextRestock |date("d-m-Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                <hr>
                <h3>Prochaines maintenance</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Machine</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tboby>
                        {% for maintenance in maintenances %}
                            <tr>
                                <td>{{ maintenance.reference }}</td>
                                <td>{{ maintenance.nextMaintenance |date("d-m-Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
