{% extends '/base.html.twig' %}

{% block title %}Demande de maintenance{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <h2 class="mb-4">Demande de maintenance pour le distributeur : {{ device.reference }} - {{ device.type }}</h2>
                <p class="mb-5">
                    Nous pouvons vous proposer une intervention le <strong> {{ date|date("d-m-Y") }} </strong>
                </p>
                <a class="btn btn-sm btn-light" href="{{ path('dashboard') }}">
                    <i class="fabut fas fa-arrow-left"></i>
                    Retour au dashboard
                </a>
                <a class="btn btn-sm btn-brown-reverse-outline float-right" href="{{ path('savemaintenance',{'id':device.id,"date": date|date("d-m-Y") }) }}">
                    <i class="fabut far fa-calendar-check"></i>
                    Valider la nouvelle date
                </a>
                <a class="btn btn-sm btn-brown-outline float-right mr-1" href="{{ path('maintenance',{'id':device.id, "date": date |date("d-m-Y")}) }}">
                    <i class="fabut far fa-calendar-times"></i>
                    Demander une autre date
                </a>

            </div>
        </div>
    </div>

{% endblock %}
