{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-box">
    <a class="navbar-brand" href="{{ path('dashboard') }}">
      <img id="logo-nav" src="/style/img/logo.png" alt="logo-cofee-time">
    </a>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ path('dashboard') }}">
          <i class="fanav fas fa-tachometer-alt"></i>
          Tableau de bord
        </a>
        <a class="nav-link" href="{{ path('key') }}">
          <i class="fanav fas fa-key"></i>
          Gestion des clefs
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a class="nav-link" href="{{ path('worker') }}">
            <i class="fanav far fa-address-book"></i>
            Gestion des salariés
          </a>
          <a class="nav-link" href="{{ path('user') }}">
            <i class="fanav fas fa-users"></i>
            Gestion des utilisateurs
          </a>
        {% endif %}
      </div>
    </div>
    <div class="btn-group float-right" role="group">
      <button id="logButton" type="button" class="btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fanav fas fa-users-cog text-brown" ></i>
        <span>{{ app.user.name | capitalize}}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logButton">

        <a class="dropdown-item" href="/logout">
          <i class="fabut fas fa-user-times"></i>
          Déconnecter
        </a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
{% endif %}
