/*
colors list
xtra-light-brown : #f9ede4;
light-brown : #e0b280;
brown : #7d4e24;
dark-brown : #432918;
*/

/*--------------- Global / Body -------------*/
body{
    position: relative;
    font-size: 16px;
}
h1,h2{
    color: #7d4e24;
}
hr{
    width:80%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: 5px solid #f9ede4;
}
h3,h4,h5,h6{
    color: #432918;
}
h1{
    font-size: 1.4em;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.2em;
}
h4{
    font-size: 1em;
}
.fabut{
    margin-right: 10px;
}
.fanav{
    display: block;
    font-size: 1.8em;
}
.text-brown{
    color : #7d4e24;
}
.text-dark-brown{
    color : #432918;
}
.shadow-box{
    box-shadow: 2px 2px 2px rgba(67, 41, 24, 0.2);
}
.btn.disabled{
    pointer-events: none;
    opacity: .65;
}
.btn-brown-outline {
    color: #432918;
    background-color: white;
    border-color: #e0b280;
}
.btn-brown-outline:hover {
    color: #432918;
    background-color: #e0b280;
    border-color: #e0b280;
}

.btn-brown-reverse-outline {
    color: white;
    background-color: #7d4e24;
    border-color: #7d4e24;
}

.btn-brown-reverse-outline:hover {
    color: #7d4e24;
    background-color: white;
    border-color: #7d4e24;
}
/*--------------- Header -------------*/
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
header, .navbar, .navbar>a, .nav-link, #logButton{
  height: 80px;
}

.nav-link, #logButton{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background:white;
    color : #7d4e24 !important;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover,#logButton:hover{
    background: #fcf5f0;
    color: #432918 !important;
}
#logo-nav{
    margin-top:5%;
    height: 90%;
}


/*--------------- Main -------------*/
#main{
    padding-top: 100px;
    padding-bottom: 60px;
    height: 100vh;
    background-image: url("../img/bg-light.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}
.box{
    background: white;
    border-radius: 10px;
    max-height: 80vh;
    padding: 10px;
}
.inbox{
    max-height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #e0b280 transparent ;
    scrollbar-width: thin ;
}
.inbox::-webkit-scrollbar{
    width: 5px;
}
.inbox::-webkit-scrollbar-track {
    background: transparent;
    width: 100%;
    border-radius: 2px;
}
.inbox::-webkit-scrollbar-thumb {
    background-color: #e0b280;
}




/*--------------- Footer -------------*/
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.6);
    padding-top: 10px;
}
footer>div{
    font-size: 0.8em;
    height: 30px;
}
