{% extends '/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="box shadow-box">
            <div class="inbox">
                <div class="mb-4">
                    <h2>Gestion des utilisateurs</h2>
                </div>
                <h3 style="display: inline-block;" class="mb-4">Liste des utilisateurs</h3>
                <a class="btn btn-sm btn-brown-reverse-outline float-right" href="/user/register">
                    <i class="fabut fas fa-plus"></i>
                    Ajouter un utilisateur
                </a>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:30%">Nom</th>
                        <th style="width:30%">Email</th>
                        <th style="width:25%">Role</th>
                        <th style="width:15%">Actions</th>
                    </tr>
                    </thead>
                    <tboby>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.name |capitalize }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.getRolesString() }}</td>
                                <td>
                                    <a class="btn btn-sm btn-brown-outline" href="{{ path('remove', {id: user.id}) }}">
                                        <i class="fabut far fa-trash-alt"></i>
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
